@font-face {
	font-family: "frontendler-icons";
	src: url('../icons/frontendler-icons.eot');
	src: url('../icons/frontendler-icons.eot?#iefix') format('eot'),
		url('../icons/frontendler-icons.woff') format('woff'),
		url('../icons/frontendler-icons.ttf') format('truetype'),
		url('../icons/frontendler-icons.svg#frontendler-icons') format('svg');
}

%icon {
	font-family: "frontendler-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == sass {
		$char: "\E001";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}
@mixin icon-classes (){
	.icon-sass {
		@include icon(sass);
	}
		
}