extends /layouts/_default

block content
	header.top
		div.container
			div.brand
				img.image(src="assets/images/logo.svg")
			div.menu
				ul.list
					li.item
						a.link(href="javascript:;") works
					li.item
						a.link(href="javascript:;") about me
					li.item
						a.link(href="javascript:;") blog
					li.item
						a.link(href="javascript:;") contact
			div.bt-mobile
				
	hr
	section.banner
		div.container
			div.info
				p.linha Hi
				p.linha
				p.linha My name is <span class="destacado">Daniel Beff</span> 
				p.linha
				p.linha A <span class="destacado">Webdesign</span> fanatic
				p.linha
				p.linha For <span class="destacado">Design</span> and <span class="destacado">Code</span>
	div.works
	div.about
		div.container
			
	footer.footer
		div.container
			div.brand
