extends /layouts/_default

block content
	header
		div.container
			div.info
				h1 Frontendler<small>Beta</small>
				h2 The responsive development kit.
				h3 Simple and efficient.
				div.buttons
					a.btn.documentation(href="http://frontendler.com.br") Documentation
					a.btn.github(href="https://github.com/frontendler/frontendler") Github
	main
		div.container
			div.item
				h4 Hello
				p Build your amazing responsive app!
		
