.topo{
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	background:#fff;
	position:relative;
	.container{
		@include grid-row();
	}
	.logo{
		@include grid-col(3,12);
		.link{
			font-family: 'Open Sans', sans-serif;
			color:theme-color(blue,"background");
			display:block;
			font-size:15px;
		}
		.imagem{
			height:60px;
			display:block;
		}
	}

	.menu{
		//@include grid-col(9,12);
		height:60px;
		color:#3c4144;
		float:right;

		.itens{
			@extend %clearfix;
			margin:0;

			.item{
				float:left;
				padding: 0 20px;
				display:block;

				.link{
					display:block
				}
				.texto{
					transition: color $transition-speed;
					color:#666;
					text-align:center;
					display:block;
					font-weight:600;
					line-height:60px;
					&:hover{
						color:#0076be;
					}
				}
			}
		}
	}
}
