.btn {
	border-radius:3px;
	transition: background-color $transition-speed, color $transition-speed;
	box-sizing:border-box;
	display: inline-block;
	padding: $grid-gutter/4 $grid-gutter/2 ;
	cursor: pointer;
}

.btn:hover {
	// @include theme(background, hover); 
}
