.form-group {
	margin-bottom: $grid-gutter;
	& input,
	& textarea {
		border-radius: 0;
		margin: -1px 0 0 0;
	}
	& textarea {
		resize: vertical;
	}
	& input:first-child,
	& textarea:first-child {
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		margin: 0;
	}
	& input:last-child,
	& textarea:last-child {
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
	}
	& input:focus,
	& textarea:focus {
		z-index: 1;
	}
}

.switch {
	border-radius:1000px;
	transition: background $transition-speed;
	width: 40px;
	height: 20px;
	padding: 2px;
	position: relative;
	cursor: pointer;
	.switch-btn {
		transition: left $transition-speed;
		border-radius:50%;
		position: absolute;
		top: 2px;
		background-color: #fff;
		width: 20px;
		height: 20px;
	}
	&.on {
		background-color: theme-color(green);
		.switch-btn {
			left: 22px;
		}
	}
	&.off {
		background-color: theme-color(red);
		.switch-btn {
			left: 2px;
		}
	}
}

.select {
	box-sizing:border-box;
	position: relative;
	width: 100%;
	height: 40px;
	display: block;
	select {
		box-sizing:border-box;
		opacity:0;
		display: block;
		cursor: pointer;
		width: 100%;
		height: 40px;
		border: 100px;
	}
	.select-btn {
		position: absolute;
		top: 0;
		left: 0;
		padding-right: 40px;
		width: 100%;
		& span {
			display: block;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: clip;
			text-overflow: ellipsis;
			&:after {
				-webkit-font-smoothing: none;
				content: "\2193";
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}
	}
}
