//------------------------------------------------------
//FRONTENDLER
//------------------------------------------------------
@import "frontendler/frontendler";

//------------------------------------------------------
//APP
//------------------------------------------------------

@import "assets/styles/app/topo";
@import "assets/styles/app/footer";
@import "assets/styles/app/timesheet";


body{
	font-family:"Open Sans"
}


.main{
	@include grid-row(false);
	background-color:theme-color(dark,'background');

	h1.title{
		color:#0076be;
		font-weight:600;
	}

	.sidebar{
		@include grid-col(2,12);
		min-height:600px;
	}
	.content{
		@include grid-col(10,12);
		background:#f2f4f8;
		min-height:600px;
		padding-top:$grid-gutter/2;
	}
}
