//------------------------------------------------------
// FRONTENDLER
//------------------------------------------------------
@import "frontendler";

//------------------------------------------------------
// SETTINGS
//------------------------------------------------------
@import "settings";

//------------------------------------------------------
// ANIMATIONS
//------------------------------------------------------
@include animations();

//------------------------------------------------------
// RESET CSS
//------------------------------------------------------
@include reset();

//------------------------------------------------------
// CSS EXAMPLE
//------------------------------------------------------
html,
body {
    width: 100%;
}
body {
    color: color("gray");
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: color("dark");
    font-weight: normal;
}
.btn {
    border-radius: 3px;
    transition: background-color $animation-duration, color $animation-duration;
    box-sizing: border-box;
    display: inline-block;
    padding: $grid-gutter/4 $grid-gutter/2;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin: 0 10px 0 0;
    opacity: 1;
    transition-property: background;
    &.documentation {
        background-color: color("ocean");
        color: color("ocean",20%);
        &:hover {
            background-color: color("ocean",40%);
        }
    }
    &.github {
        background-color: color("blue");
        color: color("blue",20%);
        &:hover {
            background-color: color("blue",40%);
        }
    }
}
.note {
    font-weight: 600;
    font-size: 14px;
}
header {
    background: color("dark");
    .container {
        @include grid-row();
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
h1 {
    font-family: "Grand Hotel";
    font-size: 120px;
    color: #fff;
    margin: 0;
    @include grid-breakpoint("xsmall") {
        font-size: 70px;
        line-height: 40px;
    }
    display: table;
    small {
        color: color("ocean",20%);
        font-family: $font-family;
        font-size: 15px;
        margin-left: 20px;
        font-weight: 600;
        animation: alert 1s infinite both;
        @include grid-breakpoint("xsmall") {
            display: block;
            margin-left: 0;
        }
    }
}
h2 {
    font-size: 20px;
    color: color("ocean",10%);
    margin: 10px 0;
    @include grid-breakpoint("xsmall") {
        font-size: 17px;
    }
}
h3 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 30px;
    color: color("ocean",10%);
}
.info {
    @include grid-column(12, 12);
}
main {
    margin-top: $grid-gutter;
    .container {
        @include grid-row;
    }
    .item {
        @include grid-column(12);
        margin-bottom: $grid-gutter;
        h4 {
            font-size: 20px;
            margin-bottom: $grid-gutter / 2;
        }
    }
}
footer {
    @include grid-breakpoint-hide("medium");
    .container {
        @include grid-row();
        @include grid-column(12);
    }
    background: color("dark");
    color: color("dark");
    padding: 15px 0;
    a {
        color: color("ocean");
        font-weight: normal;
    }
}
