extends /_layouts/_docs
block link
	-var selected = 'Start';
block sidebar
	include /_includes/_docs_sidebar_start
block content
	div.typo
		+title("Dependencies")
		div.install
			div.container
				+command("SASS","bash","sass").
					$ sudo gem install sass
				+command("NODE JS","bash","node").
					Download and install in this page http://nodejs.org/
				+command("GULP","bash","gulp").
					$npm install gulp -g
		+title("Install")
		div.install
			div.container
				+command("Clone the project","bash","clone").
					$ git clone git@github.com:dbeff/frontendler.git
				+command("Install project dependencies","bash","npm").
					$ npm install
		+title("Run Frontendler")
		div.install
			div.container
				+command("Watch","bash","watch").
					$ gulp watch
				+command("Build","bash","build").
					$ gulp build
		//- +title("Yeoman generator")
		//- div.install
		//- 	div.container
		//- 		+command("Install generator","bash","install").
		//- 			$ npm install -g generator-frontendler
		//- 		+command("Create a new project","bash","create").
		//- 			$ yo frontendler
		//- 		+command("Run with gulp watch","bash","run").
		//- 			$ gulp watch
		//- 		+command("Build with gulp build","bash","run").
		//- 			$ gulp build
