html,body {
    width: 100%;
    font-family: $font-family;
    text-rendering: optimizeLegibility;
    font-size:$font-size-text;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6 {}

h1{
    font-size:2.5em;
}
h2{
    font-size:2.2em;
}
h3{
    font-size:1.9em;
}
h4{
    font-size:1.6em;
}
h5{
    font-size:1.3em;
}
h6{
    font-size:1.0em;
}

a {
    transition: all $transition-speed;
    font-size: $font-size-text;
}

p {
    font-size: $font-size-text;:
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

pre {
    white-space: nowrap;
}

code {
    white-space: pre-wrap;
    font-size: $font-size-text - 2px;
    font-weight: 600;
}

blockquote {
    color: #666;
    font-style: italic;
    line-height: 1.8em;
    border-left: 5px solid #ddd;
    padding-left: 20px;
}

abbr {
    border-bottom: 1px dotted #1f8dd6;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    border-radius:3px;
    transition: border $transition-speed;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: $grid-gutter/4 $grid-gutter/2;
    display: block;
    border: 1px solid #ccc;
    font-size: $font-size-text;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:focus,
textarea:focus {
    border-color: theme-color(ocean);
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {}

label {
    font-size: $font-size-text;
    display: block;
    margin-bottom: 10px;
}
