@keyframes rollIn {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}
}

@mixin animation ($keyframe,$delay:0,$duration:$animation-speed)
{
	animation: $keyframe $duration;
	animation-timing-function: $aniamtion-ease;
	animation-delay:$delay;
	animation-fill-mode: both;

	transition-timing-function: $aniamtion-ease;
	transition-delay:$delay;
	transform-origin: center center;

	@if $duration != $animation-speed	{
		transition-duration:$duration;
		animation-duration: $duration;
	}
}
