@mixin grid-row($gutter: $grid-gutter-outside, $breakpoints: $grid-breakpoints) {
	@include clearfix();
	margin: 0 auto;
	display: block;
	box-sizing:border-box;
	//include external gutter
	@if $gutter != false{
		padding-left: $gutter;
		padding-right: $gutter;
	}

	//looping para incluir breakpoints
	@each $break in map-keys($breakpoints) {
		@include grid-breakpoint($break) {
			width: nth(map-get($breakpoints,$break), 1);
		}
	}
}

@mixin grid-col($col, $cols: 12, $gutter: $grid-gutter) {
	@include clearfix();
	$width: 100% * $col / $cols;
	width: $width;
	box-sizing:border-box;

	@if $width != 100% {
		float: left;
	}

	//include gutter
	@if $gutter != false {
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
	}
}

@mixin grid-breakpoint($breakpoints...) {
	@if ($grid-breakpoints != false) {
		@each $breakpoint in $breakpoints {
			@if (map-get($grid-breakpoints,$breakpoint) != null) {
				$break:map-get($grid-breakpoints,$breakpoint);
				@if (length($break) > 3) {
					@media only screen and (#{nth($break, 2)}-width: nth($break, 3)) and (#{nth($break, 4)}-width: nth($break, 5)) {
						@content;
					}
				}
				@else{
					@media only screen and (#{nth($break, 2)}-width: nth($break, 3)) {
						@content;
					}
				}
			}
			@else{
				@error $breakpoint "is not a valid grid breakpoint";
			}
		}
	}
}

@mixin grid-breakpoint-custom ($min-width, $max-width) {
	@media only screen and (min-width:$min-width) and (max-width: $max-width) {
		@content;
	}
}

@mixin grid-col-breakpoint($breakpoint, $col, $cols: 12, $gutter: false) {
	@include grid-breakpoint($breakpoint) {
		$width: 100% * $col / $cols;
		width: $width;

		//include gutter
		@if $gutter != false {
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
		@content;
	}
}

@mixin grid-col-breakpoint-custom ($min-width, $max-width, $col, $cols: 12, $gutter: false) {
	@include grid-breakpoint-custom ($min-width,$max-width) {
		$width: 100% * $col / $cols;
		width: $width;

		//include gutter
		@if $gutter != false {
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
	}
}

@mixin grid-breakpoint-hide($breakpoints...) {
	@each $breakpoint in $breakpoints {
		@include grid-breakpoint($breakpoint) {
			display: none;
		}
	}
}

@mixin grid-breakpoint-custom-hide($min-width, $max-width) {
	@include grid-breakpoint-custom($min-width, $max-width) {
		display: none;
	}
}

@mixin grid-breakpoint-show($breakpoints...) {
	@each $breakpoint in $breakpoints {
		@include grid-breakpoint($breakpoint) {
			display: block;
		}
	}
}

@mixin grid-breakpoint-custom-show($min-width, $max-width) {
	@include grid-breakpoint-custom($min-width, $max-width) {
		display: block;
	}
}
