// --------------------------------------------------------
// GLOBAL
//---------------------------------------------------------

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    text-size-adjust: 100%;
    font-family: $font-family;
    font-size: $font-size-text;
}
body {
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    box-sizing: inherit;
    color: inherit;
	font: inherit;
}


// --------------------------------------------------------
// TYPOGRAPHY
//---------------------------------------------------------
a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
pre {
    overflow: auto;
}

// --------------------------------------------------------
// EMBEDDED
//---------------------------------------------------------
img {
    border: 0;
}

// --------------------------------------------------------
// LISTS
//---------------------------------------------------------
nav ul {
    list-style: none;
}

// --------------------------------------------------------
// TABLE
//---------------------------------------------------------
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}

// --------------------------------------------------------
// FORM
//---------------------------------------------------------
textarea {
  overflow: auto;
}
