//-----------------------------------------------------------
//FONT
//-----------------------------------------------------------
$font-family: "Open Sans" !default;
$font-size-text: 14px !default;

//-----------------------------------------------------------
//ANIMATION
//-----------------------------------------------------------
$animation-duration: 0.25s !default;
$animation-ease: (
	"in-out-quad": cubic-bezier(0.455, 0.030, 0.515, 0.955),
	"in-out-cubic": cubic-bezier(0.645, 0.045, 0.355, 1.000),
	"in-out-quart": cubic-bezier(0.770, 0.000, 0.175, 1.000),
	"in-out-quint": cubic-bezier(0.860, 0.000, 0.070, 1.000),
	"in-out-sine": cubic-bezier(0.445, 0.050, 0.550, 0.950),
	"in-out-expo": cubic-bezier(1.000, 0.000, 0.000, 1.000),
	"in-out-circ": cubic-bezier(0.785, 0.135, 0.150, 0.860),
) !default;
$animation-keyframes:(
	"fade-in",
	"fade-out",
	"bounce-in-down",
	"bounce-in-up",
	"rubber-band",
	"zoom-in",
	"slide-in-up",
	"slide-in-down",
	"alert"
) !default;

//-----------------------------------------------------------
//GRID
//-----------------------------------------------------------
$grid-gutter: 40px !default;
$grid-gutter-outside: 5px !default;
$grid-breakpoints:(
	"small":   100% max 640px,
	"medium":  100% min 641px max 1024px,
	"large":   1024px min 1025px max 1440px,
	"xlarge":  1440px min 1441px max 1920px,
	"xxlarge": 1920px min 1921px
) !default;

//-----------------------------------------------------------
//COLOR
//-----------------------------------------------------------
$colors:(
	"ocean":   #00a7ca,
	"blue":    #0075d3,
	"purple":  #8244a7,
	"pink":    #dd318a,
	"green":   #71be48,
	"yellow":  #f59d37,
	"orange":  #f75925,
	"red":     #dd202b,
	"dark":    #1c2731,
	"gray":    #606c78,
	"silver":  #939fac
) !default;
