/// @group svg
@mixin svg-mobile-buttom ($color,$open:false) {
	@if ($open == false){
		.mobile-svg {
			position: absolute;
			left: 0;
			top: 0;
			font-size: 20px;
			width:100%;
			height:100%;
			fill:$color;
			transition: all $animation-speed / 2;
			transform: translateZ(0) rotate(0deg);
		}
		.mobile-svg-rect-top {
			transition: all $animation-speed;
			transform: translate3d(0, -15px, 0);
		}
		.mobile-svg-rect-bottom {
			transition: all $animation-speed;
			transform: translate3d(0, 15px, 0);
		}
	}
	@else{
		.mobile-svg-top{
			transition-delay:$animation-speed/2;
			transform: translateZ(0) rotate(45deg);
		}
		.mobile-svg-bottom{
			transition-delay:$animation-speed/2;
			transform: translateZ(0) rotate(-45deg);
		}
		.mobile-svg-rect{
			transform: translate3d(0, 0, 0);
		}

	}
}
