//-----------------------------------------------------------
//FONT
//-----------------------------------------------------------
$font-family: "Open Sans";
$font-size-text: 14px;

//-----------------------------------------------------------
//GRID
//-----------------------------------------------------------
$grid-gutter: 40px;
$grid-gutter-outside: 5px;
$grid-breakpoints:(
	phone: 100% max 480px,
	tablet: 100% min 481px max 768px,
	tablet-large: 100% min 769px max 1024px,
	desktop: 1024px min 1024px max 1199px,
	desktop-large: 1200px min 1200px
);

//-----------------------------------------------------------
//TRANSITION
//-----------------------------------------------------------
$transition-speed: 0.3s;

//-----------------------------------------------------------
//THEME
//-----------------------------------------------------------
$theme-colors:(
	ocean:   #00a7ca #a4d6e5 #52cbf2 #d5f0fb,
	blue:    #0075d3 #a4c2e9 #2c8bee #d0e0f9,
	purple:  #8244a7 #c7b1d6 #9e5dc1 #e4d7ed,
	pink:    #dd318a #f0adca #ff52a1 #ffd5e6,
	green:   #71be48 #c1e0b3 #87d873 #e1f4d8,
	yellow:  #f59d37 #fad2aa #ffb950 #ffebd3,
	orange:  #f75925 #fbb8a7 #ff7439 #ffdbd0,
	red:     #dd202b #f0a9ab #fe4542 #ffd3d2,
	dark:    #1c2731 #a8abac #313d48 #d0d2d4,
	gray:    #606c78 #bbbfc2 #798591 #dddfe2,
	silver:  #939fac #ced3d8 #b4c0cc #eaedf0
)
