//-----------------------------------------------------------
//FONT
//-----------------------------------------------------------
$font-family: "Open Sans";
$font-size-text: 14px;

//-----------------------------------------------------------
//ANIMATION
//-----------------------------------------------------------
$animation-speed: 0.3s;
$animation-ease: cubic-bezier(0.645, 0.045, 0.355, 1); //easeInOutCubic

//-----------------------------------------------------------
//GRID
//-----------------------------------------------------------
$grid-gutter: 40px;
$grid-gutter-outside: 5px;
$grid-breakpoints:(
	"phone": 100% max 480px,
	"tablet": 100% min 481px max 768px,
	"tablet-large": 100% min 769px max 1023px,
	"desktop": 1024px min 1024px max 1199px,
	"desktop-large": 1200px min 1200px
);

//-----------------------------------------------------------
//THEME
//-----------------------------------------------------------
$theme-colors:(
	"ocean":   #00a7ca,
	"blue":    #0075d3,
	"purple":  #8244a7,
	"pink":    #dd318a,
	"green":   #71be48,
	"yellow":  #f59d37,
	"orange":  #f75925,
	"red":     #dd202b,
	"dark":    #1c2731,
	"gray":    #606c78,
	"silver":  #939fac
);
