svg(x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="mobile-svg mobile-svg-top" enable-background="new 0 0 96 96")
	rect(width="100%" height="4" x="0" y="46" class="mobile-svg-rect mobile-svg-rect-top")
svg(x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="mobile-svg mobile-svg-bottom" enable-background="new 0 0 96 96")
	rect(width="100%" height="4" x="0" y="46" class="mobile-svg-rect mobile-svg-rect-bottom")
