div.docs-sidebar
        div.container
            div.tree
                div.group
                    a.title Dependencies
                    ul.itens
                        li.item
                            a(href="/docs/#sass").link Install SASS
                        li.item
                            a(href="/docs/#node").link Install Node
                        li.item
                            a(href="/docs/#gulp").link Install Gulp
                div.group
                    a.title Install
                    ul.itens
                        li.item
                            a(href="/docs/#clone").link Clone the project
                        li.item
                            a(href="/docs/#npm").link install project dependencies
                div.group
                    a.title Run Frontendler
                    ul.itens
                        li.item
                            a(href="/docs/#watch").link Watch source
                        li.item
                            a(href="/docs/#build").link Build
