div.docs-sidebar
        div.container
            div.tree
                div.group
                    a.title Base
                    ul.itens
                        li.item
                            a(href="/docs/ui/#headings").link Headings
                        li.item
                            a(href="/docs/ui/#paragraph").link Paragraph
                        li.item
                            a(href="/docs/ui/#list").link List
                        li.item
                            a(href="/docs/ui/#bold").link Bold
                        li.item
                            a(href="/docs/ui/#italic").link Italic
                div.group
                    a.title Form
                    ul.itens
                        li.item
                            a(href="/docs/ui/#headings").link Headings
                        li.item
                            a(href="/docs/ui/#paragraph").link Paragraph
                        li.item
                            a(href="/docs/ui/#list").link List
                        li.item
                            a(href="/docs/ui/#bold").link Bold
                        li.item
                            a(href="/docs/ui/#italic").link Italic
