div.docs-sidebar
        div.container
            div.tree
                div.group
                    a.title Grid
                    ul.itens
                        li.item
                            a(href="/docs/library/#grid-margin").link grid-margin
                        li.item
                            a(href="/docs/library/#grid-margin-outer").link grid-margin-outer
                        li.item
                            a(href="/docs/library/#grid-breakpoints").link grid-breakpoints
                        li.item
                            a(href="/docs/library/#grid-row").link grid-row
                        li.item
                            a(href="/docs/library/#grid-col").link grid-col
                        li.item
                            a(href="/docs/library/#grid-col-breakpoint").link grid-col-breakpoint
                        li.item
                            a(href="/docs/library/#grid-breakpoint").link grid-breakpoint
                        li.item
                            a(href="/docs/library/#grid-breakpoint-hide").link grid-breakpoint-hide
                        li.item
                            a(href="/docs/library/#grid-breakpoint-show").link grid-breakpoint-show
                div.group
                    a.title Theme
                    ul.itens
                        li.item
                            a(href="/docs/library/#theme-colors").link theme-colors
                        li.item
                            a(href="/docs/library/#theme-color").link theme-color
                        li.item
                            a(href="/docs/library/#theme").link theme
                        li.item
                            a(href="/docs/library/#theme-all").link theme-all
