div.docs-sidebar
        div.container
            div.tree
                div.group
                    a.title Yeoman
                    ul.itens
                        li.item
                            a(href="/docs/#install").link install
                        li.item
                            a(href="/docs/#create").link create
                        li.item
                            a(href="/docs/#run").link run
                div.group
                    a.title Bootstrap
                    ul.itens
                        li.item
                            a(href="/docs/#install").link install
                        li.item
                            a(href="/docs/#create").link create
                        li.item
                            a(href="/docs/#run").link run
