doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")

		title Frontendler
		meta(name='description',content='', )
		meta(name='author',content='')

		//windows 8 tiles
		meta(name='msapplication-TileImage', content='/assets/images/ico/tile.png')
		meta(name='msapplication-TileColor', content='#174c6b')

		//favicon
		link(rel='icon', href='/assets/images/ico/favicon.png')

		//apple favicon
		//- iPad iOS7+ com Retina Display
		link(rel='apple-touch-icon',sizes='152x152',href= '/assets/images/ico/icon_152x152.png')
		//- iPhone iOS7+ com Retina Display
		link(rel='apple-touch-icon',sizes='120x120',href='/assets/images/ico/icon_120x120.png')
		//- iPad iOS7+ sem retina display e iPad Mini
		link(rel='apple-touch-icon',sizes='76x76',href='/assets/images/ico/icon_76x76.png')
		//- iPhone iOS7-, iPod Touch e Android 2.2+
		link(rel='apple-touch-icon',href='/assets/images/ico/icon_57x57.png')

		//fonts
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Grand+Hotel|Open+Sans:400italic,400,600,700,300',rel='stylesheet',type='text/css')

		// build:css /assets/styles/main.css
		link(rel='stylesheet', href='/assets/styles/main.css')
		// endbuild

		//html5 and media query suport for IE
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
